# Ignore virtual environments
venv/
myenv/
**/venv/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.so
**/__pycache__/

*.zip
**/dataset/
**/afhq/
**/archive/
**/mobilenetv2_finetune/House_Room_Dataset/
**/balanced_data/
**/House_Room_Dataset
**/monkey/
**/cats/
**/squirrel/
**/snake/